.Body
    background-color: #f5f5f5
    margin: 0 210px 0 210px
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    font-size: 18px
    display: flex
    justify-content: center
    flex-direction: column
    .top
        .description
            display: flex
            p
                margin: 20px 97px 0 30px
    .trailer
        img
            width: 100%