.Basement
    margin: 0 210px 0 210px
    font-family: 'Montserrat', sans-serif
    font-size: 14px
    color: #fff
    display: flex
    justify-content: flex-end
    margin-top: 20px
    p
        margin-right: 15px
        &:last-child
            margin-right: 0 

