.Slider
        display: flex
        width: 100%
        max-width: 686px
        margin: auto
        margin-top: 68px
        margin-bottom: 68px
        justify-content: space-between
        
        .slides
            display: flex
        .arrow
            display: flex
            align-items: center
            &:hover
                cursor: pointer